body {
  margin: 0px;
  background-color: white;
  /* font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif; */

  font-family: freight-sans-pro, 'Myriad Pro', Myriad, sans-serif;
  font-size: 17px;
  height: 33.11666488647461px;
  line-height: 27.58333396911621px;
  height: 101%;
}
#title {
  /* margin: 0px auto 0px auto;
	padding: 0px 20px 0px 20px; 
	position: relative; */

  background: url("/images/noise.png"), -webkit-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  /* border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #8C8C8C;
	padding-top: 10px;
	padding-bottom: .35em;
	margin-left: -20px;
	font-size: 24px;
	color: #6B6B6B; */
  text-shadow: #EBEBEB 0px 1px 0px;
}
.title-link {
  font-family: Courier New;
  font-size: 24px;
  padding-left: 155px;
  color: #6B6B6B;
  text-decoration: none;
}
.title-link:hover {
  text-decoration: none;
}
.greyOutline {
  border-color: #E3E3E3;
  border-style: solid;
  border-width: 0px;
}
.header {
  border-color: #E3E3E3;
  border-style: solid;
  border-width: 0px;
  margin-left: -50px;
  border-bottom-width: 1px;
  height: 99px;
  width: 101%;
}
.content {
  border-color: #E3E3E3;
  border-style: solid;
  border-width: 0px;
  padding-left: 50px;
  border-left-width: 1px;
  height: 100%;
}
#nav > h1 {
  font-size: 20px;
}
.post-item > a {
  font-size: 20px;
}
#about-me {
  padding-right: 0px;
  padding-left: 0px;
}
#img-me {
  width: 150px;
  height: 150px;
  border-radius: 100pc;
  float: left;
  margin-right: 25px;
}
footer {
  padding: 0px auto 0px auto;
  padding-top: 25px;
}
