<html>
	<head>
		<!-- <link rel="stylesheet" type="text/css" href="cheeky.min.css"> -->
		<link rel="stylesheet" type="text/css" href="/css/site.css">
		<!-- Google Analytics -->
		<script type="text/javascript">
		
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-32787908-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
	</head>
	<body>
		<div id="container">
			<div id="content">
				<div id="nav">
					<h1>jroesch</h1>
						<a href="/">About</a>
						<a href="/posts.html">Blog</a>
						<a href="/resume.html">Resume</a>
					<!-- TODO find better way to link to profiles -->
					<h1>Profiles</h1>
						<a href="http://github.com/jroesch">GitHub</a>
						<a href="http://twitter.com/#!/roeschinc">Twitter</a>
						<a href="http://www.linkedin.com/profile/view?id=148343860&locale=en_US&trk=tab_pro">LinkedIn</a>
					<h1>Friends and Favorites</h1>
						<a href="http://andrewberls.com">Andrew</a>
						<a href="http://cs.ucsb.edu/~adelbert_chang/">Allen</a>
						<a href="http://blog.fogus.me">Fogus</a>
						<a href="http://haskell.org">Haskell</a>
				</div>
				<div id="title">
					<a href="/">blog :: [Thoughts] -> [Code] -> [Words] </a>
				</div>
				<div id="column">
					$body$
				</div>
			</div>
			<footer>
				Copyright 2012 - Jared Roesch - Powered by <a href="http://jaspervdj.be/hakyll/">Hakyll</a> and
				<a href="http://github.com">GitHub</a>.
			</footer>
		</div>
	</body>
</html>