<html>
	<head>
		<!-- <link rel="stylesheet" type="text/css" href="cheeky.min.css"> -->
		<link rel="stylesheet" type="text/css" href="/css/site.css">
	</head>
	<body>
		<div id="container">
			<div id="content">
				<div id="nav">
					<h1>jroesch</h1>
					<a>Blog</a>
					<a>CV</a>
					<h1>Links</h1>
					<a>SHIT</a>
					<a>SHIT</a>
					<a>SHIT</a>
					<h1>Friends and Favorites</h1>
				</div>
				<div id="title">
					<a href="/">blog :: [Thought] -> [Code] -> Words<a>
				</div>
				<div id="column">
					<!-- <div id="lambda" style="float: left;">
						<img src="/images/lambda.png" width="150" height="150"></img>
					</div> -->
					$body$
				</div>
			</div>
			<footer>
				Copyright &copy; 2012 - Jared Roesch - Powered by <a href="http://jaspervdj.be/hakyll/">Hakyll</a>
			</footer>
		</div>
	</body>
</html>